    header {
        background-color: $primary_color;
        z-index: 999;
        .navbar-brand {
            padding-left: 1em;
            img {
                max-width: 150px;
            }
        }
        nav {
            .navbar-nav {
                column-gap: 20px;
                .nav-item {
                    .nav-link {
                        color: #fff;
                        font-size: clamp(12px, 2vw, 16px);
                        @include Smooth(0.2s);
                    }
                }
            }
            .wrapper {
                display: flex;
                align-items: center;
            }
            .navbar-toggler {
                &:focus {
                    box-shadow: none !important;
                }
                i {
                    color: #fff;
                }
            }
            .notifications {
                a {
                    margin: 0 25px;
                    display: block;
                    padding: 0 0 0.5em 0;
                    img {
                        max-width: 20px;
                    }
                    span {
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 100%;
                        background-color: #8AC544;
                        position: absolute;
                        top: 3px;
                        right: -1px;
                    }
                }
            }
            .user_dropdown {
                margin: 0 10px 0 15px;
                a {
                    @include Flex(row, flex-start, center, 15px, unset, unset);
                    img {
                        max-width: 35px;
                    }
                    h4 {
                        font-size: clamp(12px, 2vw, 16px);
                        color: #fff;
                    }
                }
                .user_dropdown_list {
                    position: absolute;
                    background-color: $primary_color;
                    top: 20px;
                    right: 0;
                    min-width: 265px;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 9;
                    @include Smooth(0.2s);
                    &.show {
                        visibility: visible;
                        top: 55px;
                        opacity: 1;
                    }
                    ul {
                        list-style: none;
                        li {
                            border-bottom: 1px solid #fff !important;
                            &:first-child {
                                .icon_wrapper {
                                    img {
                                        max-width: 35px;
                                    }
                                }
                            }
                            .icon_wrapper {
                                img,
                                .icon_small {
                                    max-width: 23px !important;
                                }
                            }
                            &:not(li:last-child) {
                                border-bottom: 0;
                            }
                            a {
                                @include Flex(row, flex-start, center, 10px, unset, unset);
                                padding: 1em 1em;
                                @include Smooth(0.2s);
                                &:hover {
                                    background-color: $green;
                                }
                                div {
                                    min-width: 35px;
                                    text-align: center;
                                }
                                .img_wrapper {
                                    img {
                                        border: 2px solid #fff;
                                        border-radius: 100%;
                                        max-width: 30px;
                                    }
                                }
                                h4 {
                                    font-size: clamp(10px, 2vw, 14px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width:991px) {
        header {
            .navbar-brand {
                img {
                    max-width: 130px;
                }
            }
            nav {
                .navbar-collapse {
                    position: absolute;
                    top: 47px;
                    background: #2c615f;
                    width: 100%;
                    right: 0;
                    z-index: 99;
                    .nav-item {
                        padding: 5px 25px;
                        // &:not(.nav-item: last-child) {
                        //     border-bottom: 1px solid #fff;
                        // }
                        &:hover {
                            background-color: $green;
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 405px) {
        header .navbar-brand {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 0.5em;
        }
        header nav .wrapper {
            margin-left: auto;
        }
        header nav .user_dropdown .user_dropdown_list {
            top: 45px;
            min-width: 200px;
        }
        header nav .user_dropdown .user_dropdown_list ul li a {
            padding: 0.5em 0.5em;
        }
    }