@mixin Smooth($x) {
    transition: $x all ease-in-out;
}

@mixin Flex($direction, $justify, $align, $gapX, $gapY, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    column-gap: $gapX;
    row-gap: $gapY;
    flex-wrap: $wrap;
}